#btn {
    background-color: #be3732;
    color: white;
    margin: 5px;
}

#btn:hover{
    background-color: lightgray;
    border: 1px solid black;
    color: black;
}

@keyframes study-anim {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

@keyframes pause-anim {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-90deg);}
    50% {transform: rotate(-180deg);}
    75% {transform: rotate(-270deg);}
    100% {transform: rotate(-360deg);}
}

#Dots {
    animation-duration: 1s;
    animation-name: null;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#box{
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
  }